<div class="container">
  <p style="color: green"><%= notice %></p>

  <h1>Monuments</h1>

  <div id="monuments">
    <% @monuments.each do |monument| %>
      <%= render monument %>
      <p>
        <%= link_to "Show this monument", monument %>
      </p>
    <% end %>
  </div>

  <div>
    <button class="btn btn-primary">Add a new monument</button>

    <div class="mt-4">
      <%= render 'form', monument: @monument %>
    </div>
  </div>

</div>
